body {
    padding-top: 100px;
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
}

.gap-right {
  margin-right: 10px;
}

.gap-bottom {
  margin-bottom: 20px;
}

.time {
  color: #999;
}

.post-title {
    font-weight: bold;
    color: black;
}

.col-md-gutter, .col-md-main, .col-md-right {
  padding: 0;
  width: 100%;
  position: relative
}

.mini-post-title {
  color: black;
}

.latest {
  color: #999;
}

 h1{
      color: black;
}

.mini-post {
  display: inline;
}

.circle-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: inline;
}

.author {
  font-size: 14px;
  color: #999;
}
.fa {
  padding: 15px;
}

.fa-comment-o:hover {
  color: black;
  cursor: pointer;
}
.post-info {
  margin: 30px;
}
