<div class="container">

  <form name="postForm" ng-submit="postForm.$valid && blog.addPost()" novalidate>
<h2>Post</h2>
      <label for="Title">Title</label><br>
      <input ng-model="blog.post.title" type="text" class="form-control" placeholder="Title" title="Title" required/><br>

      <label for="Content">Content</label><br>
      <textarea ng-model="blog.post.content" class="form-control" placeholder="Content" title="Content" ng-minlength="1" required></textarea><br>

      <label for="Image">Image</label><br>
      <input type="text" ng-model="blog.post.img" class="form-control" placeholder="Insert Image Link" /><br>

      <label for="Author">Author</label><br>
      <input ng-model="blog.post.author" class="form-control" placeholder="Author" title="Author" ng-minlength="1" required></input><br>

      <label for="AuthorImg">Author Avatar</label><br>
      <input type="text" ng-model="blog.post.authorImg" class="form-control" placeholder="Insert Avatar Link" /><br>

      <input type="submit" class="btn btn-success" value="Submit Post" ng-click="blog.addPost()"/><br>
  </form>
</div>
