<h1>{{post.title}}</h1>
<button class="btn btn-primary pull-left" ng-click="blog.selectTab('blog')">Back to Posts</button>
<button class="btn btn-danger pull-right" ng-click="blog.deletePost(post.id)">Delete</button>
<br>
<div class="post-info">
  <img ng-src="{{post.authorImg}}" class="circle-image" alt="Cinque Terre">
  <small class="author">By {{post.author}}</small>
  <i class="fa fa-clock-o time pull-right"> &nbsp;{{post.createdAt}}</i><br>
</div>
<img ng-src="{{post.img}}" alt="Cinque Terre" width="730" height="500">
<h4>{{post.content}}</h4>
  <h2 class="latest">Comments</h2>
    <form name="commentNew" ng-submit="commentNew.$valid && blog.addComment()" novalidate>
          <label for="Comment">Comment</label><br>
          <textarea ng-model="blog.post.comment.text" class="form-control" placeholder="Comment" title="Comment" ng-minlength="1" required></textarea><br>

          <label for="Image">Author Name</label><br>
          <input type="text" ng-model="blog.post.content.author" class="form-control" placeholder="Your Name" /><br>

          <input type="submit" class="btn btn-success" value="Submit Comment" ng-click="blog.addComment()"/><br>
    </form>
  <div class="blog-comment">
    <hr/>
    <div ng-repeat="comment in post.comments">

      <ul class="comments">
        <li class="clearfix">
          <img ng-src="{{comment.authorImg}}" class="avatar" alt="">
          <div class="post-comments">
            <p class="meta">{{comment.createdAt}} <a href="#">{{comment.author}}</a> says :</p>
            <p>
              {{comment.text}}
            </p>
          </div>
        </li>
      </ul>
    </div>
</div>
<hr>
<h2 class="latest">Other</h2>
<div ng-repeat="post in blog.posts | orderBy: '-id' | limitTo: '3'">
  <div ng-click="blog.selectTab($index)">
    <a href="#"><h4 class="mini-post-title">{{ post.title }}</h4></a>
  </div>
</div>
