<div class="container">

  <form name="postForm" ng-submit="postForm.$valid && blog.addPost()" novalidate>
<h2>Post</h2>
      <label for="Title">Title</label><br>
      <input ng-model="blog.post.title" type="text" class="form-control" placeholder="Title" title="Title" required/><br>

      <label for="Content">Content</label><br>
      <textarea ng-model="blog.post.content" class="form-control" placeholder="Content" title="Content" ng-minlength="1" required></textarea><br>

      <label for="Image">Image</label><br>
      <input type="text" ng-model="blog.post.img" class="form-control" placeholder="Insert Image Link" /><br>

      <input type="submit" class="btn btn-success" value="Submit Post" ng-click="blog.addPost()"/><br>

  </form>
  <br><blockquote ng-show="postForm.$valid">
    <h3>{{ blog.post.title }}</h3>
    <img ng-src="{{blog.post.img}}" alt="Cinque Terre" width="730" height="500">
    <p>{{ blog.post.content }}</p>
  </blockquote>
</div>
