<div class="row">
  <h1>{{post.title}}</h1>
  <i class="fa fa-clock-o time"> &nbsp;5 min ago</i>
  <img ng-src="{{post.img}}" class="gap-bottom" alt="Cinque Terre" width="730" height="500">
  <h3>{{post.content}}</h3>

  <button class="btn btn-danger right" ng-click="blog.deletePost(post.id)">Delete</button>

  <div class="col-md-4">
    <div ng-repeat="post in blog.posts | orderBy: 'id'">
      <a href="#"><h4 class="mini-post-title">{{ post.title }}</h4></a>
      <hr>
    </div>
  </div>


</div>